@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="clearfix"></div>
    <div class="divElement">


        <a class="btn btn-success" href="https://github.com/login/oauth/authorize?scope=user,gist,user:email&client_id=3fe117d43bf454820907">GITHUB Login</a>
    </div>
</div>
<style type="text/css">


    .divElement {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
        width: 100px;
        height: 100px;
        
    }
</style>